{% extends 'base.html'%}
{% load static %}
{% block content %}
{{block.super}}
<br><br><br>
  <div class="container">
    <!-- <h5>Api Key</h5>
    <button type="button" class="btn btn-primary key" name="button">Api Key</button>
    <small id="api_key"></small>
    <br><br><br><br> -->
    <h5>End Points</h5>
    <small>users</small><br>
    <a href="https://n0tawwwards.herokuapp.com/notAwwwards/API/users-details">https://n0tawwwards.herokuapp.com/notAwwwards/API/users-details</a><br>
    <small>posts</small><br>
    <a href="https://n0tawwwards.herokuapp.com/notAwwwards/API/posts-details">https://n0tawwwards.herokuapp.com/notAwwwards/API/posts-details</a>
  </div>

  <script type="text/javascript" src="{% static 'js/developer.js'%}">

  </script>
{% endblock %}
